:root {
  --link-color: rgb(255, 0, 0) !important;
  --link-color-hover: rgb(0, 131, 190) !important;
}

a {
  color: var(--link-color) !important;
  text-decoration: solid;

  &:hover {
    color: var(--link-color-hover) !important;
    text-decoration: solid;
  }
}

.contato {
  padding: 15px;
  border: 2px solid;
  border-radius: 5px;
  margin: 7.5px 0px;
}

.endereco-info {
  padding: 15px;
  border: 2px solid;
  border-radius: 5px;
  margin: 7.5px 0px;
}

.areaInfo {
  padding: 15px;
  margin: 7.5px 0px;
}

.areaInfo h2 {
  margin: 0;
  font-size: 1.2em;
  font-weight: normal;
}
